@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital@1&family=Source+Sans+Pro:ital,wght@0,600;1,400&display=swap");
.borde {
  border-top: solid #d87213 medium; }

.bg-grey {
  background-color: #161616; }

.pie-index {
  margin-top: auto; }

.texto-subrayado, .subrayado-naranja, .subrayado-plata, .subrayado-brown {
  text-decoration: underline; }

.subrayado-naranja {
  text-decoration-color: #d87213; }

.subrayado-plata {
  text-decoration-color: #c5c5c5; }

.subrayado-brown {
  text-decoration-color: #866e4e; }

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  font-family: sans-serif; }

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

img {
  max-width: 100%;
  max-height: 100%; }

.bg-img {
  background-image: url(../img/fondoysy.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-height: 100vh; }

.bodyscroll {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%; }

#botonera {
  align-items: center;
  background: linear-gradient(to right, black, #131313, #232323); }
  #botonera.container-fluid {
    padding: 0px 30px 0px 5%; }
  #botonera img {
    width: 8vw; }
  #botonera ul {
    display: flex; }
    #botonera ul li {
      padding: 0vw 3vw;
      list-style: none; }
      #botonera ul li a {
        color: #d87213;
        font-size: 1.4rem;
        font-weight: 600;
        font-family: "Saraburn", sans-serif;
        text-decoration: none; }
        #botonera ul li a:hover {
          color: #c5c5c5; }
        @media (min-width: 768px) {
          #botonera ul li a {
            font-size: 2rem; } }
        @media (min-width: 1200px) {
          #botonera ul li a {
            font-size: 3rem; } }

.navbar-brand {
  margin-left: 5%;
  margin-right: 0px; }

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px; }
  @media (min-width: 1200px) {
    .home {
      flex-direction: row-reverse;
      justify-content: space-around;
      border-top: none; } }

.home__uno {
  padding: 2%;
  order: 1; }
  @media (min-width: 1200px) {
    .home__uno {
      margin: 0% 5%;
      padding: 1.5% 0%;
      max-width: 50vw; } }
  .home__uno h1 {
    font-size: 2.2rem;
    text-align: center;
    color: #e6e6e6;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: capitalize;
    padding-bottom: 1%; }
    @media (min-width: 768px) {
      .home__uno h1 {
        font-size: 3rem; } }
    @media (min-width: 1650px) {
      .home__uno h1 {
        font-size: 5rem; } }

.home__dos {
  display: flex;
  justify-content: start;
  align-items: center;
  order: 2;
  width: 80vw; }
  @media (min-width: 1200px) {
    .home__dos {
      flex-direction: column;
      width: fit-content;
      position: relative;
      left: 8vw;
      top: 18vh; } }
  .home__dos h3 {
    padding: 5%;
    font-size: 1.6rem;
    text-align: center;
    color: #e6e6e6; }
    @media (min-width: 768px) {
      .home__dos h3 {
        font-size: 2rem; } }
    @media (min-width: 1200px) {
      .home__dos h3 {
        font-size: 2.2rem; } }
    @media (min-width: 1600px) {
      .home__dos h3 {
        font-size: 3rem; } }
  .home__dos img {
    width: 30vw; }

.img-m {
  width: 40vw; }
  @media (min-width: 1200px) {
    .img-m {
      width: 13vw; } }

#intro {
  display: flex;
  justify-content: center;
  padding: 2%; }
  #intro h1 {
    font-size: 4rem;
    text-align: center;
    color: #e6e6e6; }
    @media (min-width: 1200px) {
      #intro h1 {
        font-size: 5.2rem; } }
    #intro h1.bordeintro {
      border-bottom: solid #d87213 0.4vw;
      padding: 2%;
      width: 75%;
      text-align: center; }

.historia {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  margin: auto 5%; }
  @media (min-width: 992px) {
    .historia {
      flex-direction: row;
      justify-content: flex-end;
      margin-right: 10%; } }
  @media (min-width: 992px) {
    .historia img {
      max-width: 40vw; } }
  @media (min-width: 1200px) {
    .historia img {
      max-width: 30vw; } }
  @media (min-width: 1650px) {
    .historia img {
      max-width: 25vw; } }
  .historia div.historia__textos {
    padding: 1% 2%;
    background-color: #866e4e; }
    @media (min-width: 1200px) {
      .historia div.historia__textos {
        max-width: 40vw; } }
    @media (min-width: 1650px) {
      .historia div.historia__textos {
        max-width: 25vw; } }
  .historia h2 {
    font-size: 2.6rem;
    text-align: flex-start;
    color: #161616;
    font-weight: 800; }
    @media (min-width: 768px) {
      .historia h2 {
        font-size: 3rem; } }
  .historia p {
    font-size: 1.1rem;
    text-align: flex-start;
    color: #e6e6e6;
    font-weight: 600; }
    @media (min-width: 640px) {
      .historia p {
        font-size: 1.2rem; } }
    @media (min-width: 768px) {
      .historia p {
        font-size: 1.6rem; } }
    @media (min-width: 960px) {
      .historia p {
        font-size: 2rem; } }
    @media (min-width: 1200px) {
      .historia p {
        font-size: 1.8rem; } }

.alejo {
  margin: 40px 15px; }
  @media (min-width: 1200px) {
    .alejo {
      display: flex;
      justify-content: space-evenly;
      flex-flow: row nowrap;
      box-sizing: content-box;
      padding: 2.5% 0; } }
  .alejo__textos {
    background-color: #505050; }
    @media (min-width: 1200px) {
      .alejo__textos {
        width: 40%; } }
    .alejo__textos h3 {
      font-size: 2rem;
      text-align: center;
      color: #e6e6e6;
      padding-top: 5px; }
      @media (min-width: 768px) {
        .alejo__textos h3 {
          font-size: 2.8rem; } }
    .alejo__textos--pgf {
      display: flex; }
      .alejo__textos--pgf p {
        font-size: 1.2rem;
        text-align: justify;
        color: #161616;
        font-weight: 600;
        padding: 2%; }
        @media (min-width: 1200px) {
          .alejo__textos--pgf p {
            font-size: 1.4rem; } }
      .alejo__textos--pgf .justIzq {
        max-width: 49vw; }
        @media (min-width: 1200px) {
          .alejo__textos--pgf .justIzq {
            max-width: 20vw; } }
  .alejo__imagenes {
    display: flex;
    justify-content: space-evenly;
    padding: 2%; }
    @media (min-width: 1200px) {
      .alejo__imagenes {
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        width: 50vw;
        align-items: center; } }
    @media (min-width: 1300px) {
      .alejo__imagenes {
        flex-direction: row; } }
    .alejo__imagenes--gde {
      width: 30%; }
      @media (min-width: 1200px) {
        .alejo__imagenes--gde {
          width: 32%; } }
    .alejo__imagenes--quinto {
      width: 42%; }
      @media (min-width: 1200px) {
        .alejo__imagenes--quinto {
          width: 45%; } }

.sdios {
  display: flex;
  justify-content: center;
  flex-flow: column-reverse nowrap;
  margin: auto 5%;
  padding-bottom: 5%; }
  @media (min-width: 576px) {
    .sdios {
      margin: 0 12.5%; } }
  @media (min-width: 992px) {
    .sdios {
      flex-flow: row nowrap;
      justify-content: flex-start;
      margin-left: 10%; } }
  .sdios__textos {
    background-color: #d87213cc;
    padding: 0 2%; }
    @media (min-width: 1200px) {
      .sdios__textos {
        max-width: 30vw; } }
    @media (min-width: 1650px) {
      .sdios__textos {
        max-width: 25vw; } }
    .sdios__textos h3 {
      font-size: 2.2rem;
      text-align: end;
      color: #e6e6e6;
      padding-top: 5px; }
      @media (min-width: 768px) {
        .sdios__textos h3 {
          font-size: 2.8rem; } }
    .sdios__textos p {
      font-size: 1.2rem;
      text-align: end;
      color: #161616;
      font-weight: 600; }
      @media (min-width: 640px) {
        .sdios__textos p {
          font-size: 1.2rem; } }
      @media (min-width: 768px) {
        .sdios__textos p {
          font-size: 1.4rem; } }
      @media (min-width: 960px) {
        .sdios__textos p {
          font-size: 2rem; } }
      @media (min-width: 1200px) {
        .sdios__textos p {
          font-size: 1.8rem; } }
  @media (min-width: 992px) {
    .sdios img {
      max-width: 30vw; } }
  @media (min-width: 1200px) {
    .sdios img {
      max-width: 30vw; } }
  @media (min-width: 1650px) {
    .sdios img {
      max-width: 20vw; } }

.maindisc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%; }
  .maindisc div h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    text-align: center;
    color: #ffd000;
    margin-top: 25px; }
    @media (min-width: 576px) {
      .maindisc div h2 {
        font-size: 3rem; } }
    @media (min-width: 992px) {
      .maindisc div h2 {
        font-size: 3.4rem; } }
    @media (min-width: 1650px) {
      .maindisc div h2 {
        font-size: 3.6rem; } }
  .maindisc__table {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 55px;
    margin: auto 5px; }
    .maindisc__table#table-border tbody, .maindisc__table td, .maindisc__table th, .maindisc__table tfoot, .maindisc__table tr {
      border-color: #161616;
      border-style: solid;
      border-width: 1px;
      padding: 6px; }
      .maindisc__table#table-border tbody .table-th, .maindisc__table td .table-th, .maindisc__table th .table-th, .maindisc__table tfoot .table-th, .maindisc__table tr .table-th {
        background-color: #d87213;
        padding: 8px;
        font-size: 1.05rem;
        text-align: center;
        color: #161616; }
        @media (min-width: 992px) {
          .maindisc__table#table-border tbody .table-th, .maindisc__table td .table-th, .maindisc__table th .table-th, .maindisc__table tfoot .table-th, .maindisc__table tr .table-th {
            font-size: 1.6rem; } }
        @media (min-width: 1650px) {
          .maindisc__table#table-border tbody .table-th, .maindisc__table td .table-th, .maindisc__table th .table-th, .maindisc__table tfoot .table-th, .maindisc__table tr .table-th {
            font-size: 2rem; } }
      .maindisc__table#table-border tbody .table-td, .maindisc__table td .table-td, .maindisc__table th .table-td, .maindisc__table tfoot .table-td, .maindisc__table tr .table-td {
        font-size: 1.035rem;
        text-align: start;
        color: #e6e6e6;
        background-color: #505050; }
        @media (min-width: 992px) {
          .maindisc__table#table-border tbody .table-td, .maindisc__table td .table-td, .maindisc__table th .table-td, .maindisc__table tfoot .table-td, .maindisc__table tr .table-td {
            font-size: 1.4rem; } }
        @media (min-width: 1650px) {
          .maindisc__table#table-border tbody .table-td, .maindisc__table td .table-td, .maindisc__table th .table-td, .maindisc__table tfoot .table-td, .maindisc__table tr .table-td {
            font-size: 1.68rem; } }

.tapas {
  margin-top: 55px;
  margin-bottom: 2%; }
  .tapas__texto {
    display: flex;
    justify-content: center; }
    .tapas__texto h3 {
      font-size: 2rem;
      text-align: center;
      color: #e6e6e6; }
      @media (min-width: 576px) {
        .tapas__texto h3 {
          font-size: 2.4rem; } }
      @media (min-width: 992px) {
        .tapas__texto h3 {
          font-size: 3rem; } }
      @media (min-width: 1650px) {
        .tapas__texto h3 {
          font-size: 3.3rem; } }
  .tapas div.row div {
    padding: 3%; }

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row; }
  footer h3 {
    font-size: 1.4rem;
    margin: 0;
    color: #c5c5c5; }
    @media (min-width: 768px) {
      footer h3 {
        font-size: 2.6rem; } }
    @media (min-width: 1200px) {
      footer h3 {
        font-size: 3rem; } }
  footer img {
    width: 3vw; }
