//mixins

@mixin d-flex {
    display: flex;
}

@mixin flexChoose($justify, $align){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin text($fSize, $tAlign) {
    font-size: $fSize;
    text-align: $tAlign;
}

//clases 

.borde{
    border-top: solid map-get($map: $pColores, $key: 'orng') medium;
}
.bg-grey{
    background-color: map-get($map: $pColores, $key: 'black');
}
.pie-index{
    margin-top: auto;
}
.disclaimer{
    display: none;
}

//extends

.texto-subrayado{
    text-decoration: underline;
}
.subrayado-naranja{
    @extend .texto-subrayado;
    text-decoration-color: map-get($map: $pColores, $key: 'orng');
}
.subrayado-plata{
    @extend .texto-subrayado;
    text-decoration-color: map-get($map: $pColores, $key: 'plata');
}
.subrayado-brown{
    @extend .texto-subrayado;
    text-decoration-color: map-get($map: $pColores, $key: 'brown');
}