.mainshop{
    padding: 0 5%;
    @media (min-width: 992px){
        padding: 0;
    }
    div h2{
        @include text($txtLg, center);
        color: map-get($map: $pColores, $key: 'white');
        @media (min-width: 576px){
            font-size: $txtXl - 0.5rem;
        }
        @media (min-width: 992px){
            font-size: $txtXl;
        }
        @media (min-width: 1200px){
            font-size: $txtXl + 0.5rem;
        }
        @media (min-width: 1650px){
            font-size: $txtXxl;
        }
    }
    div h3{
        @include text($txtLg, center);
        color: map-get($map: $pColores, $key: 'white');
        @media (min-width: 576px){
            font-size: $txtXl - 0.5rem;
        }
        @media (min-width: 992px){
            font-size: $txtLg + 0.4rem;
        }
        @media (min-width: 1650px){
            font-size: $txtXl;
        }
    }
    div.container-fluid{
        justify-content: center;
        padding: 2% 6%;
        div.row div{
            background-color: rgb(0, 0, 0);
            border: 1px rgb(163, 163, 163) solid;
            padding: 0;
            .img-shop{
                padding: 1rem;
                max-height: 45vh;
            }
            .card-body{
                border: none;
                flex-direction: column;
                h5{
                    @include text($txtLg - 0.2rem, center);
                    color: map-get($map: $pColores, $key: 'white');
                    font-weight: $txtGrues;
                    padding-top: 2%;
                    @media (min-width: 1200px){
                        font-size: $txtLg + 0.2rem;
                    }
                }
                p{
                    @include text($txtMd - 0.1rem, center);
                    color: map-get($map: $pColores, $key: 'orng');
                    font-weight: $txtHeav;
                    padding-bottom: 2%;
                    @media (min-width: 1200px){
                        font-size: $txtLg - 0.2rem;
                    }
                }
                button{
                    font-size: 1.8rem;
                    margin: 0 2rem 10px 2rem;
                    
                }
            }
        }
    }
}

.ver-carrito{
    font-size: 4rem;
    background-color: #198754;
    position: fixed;
    right: 5%;
    bottom: 75%;
}

.modal-container{
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 14vh;
    scrollbar-color: none;
    .modal-header{
        display: flex;
        justify-content: space-around;
        background-color: #0a0909;
        border: none;
        color: #fff;
        width: 100%;
        h3{
            font-size: 2.2rem;
            justify-self: start;
        }
        button{
            font-size: 2rem;
            font-weight: $txtGrues;
            cursor: pointer;
            color: map-get($map: $pColores, $key: 'orng');
            p{
                margin-bottom: 0;
            }
        }
    }
    .modal-content {
        background-color: #121212;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        width: 80%;
        margin: 10px;
    img{
        height: 150px;
        width: 150px;
    }
    p{
        font-size: 1.75rem;
    }
    
    }
    .modal-footer{
        p{
            font-size: 2.4rem;
            padding: 15px;
            text-align: center;
            padding-top: 15px; 
        }
        button{
            font-size: 2rem;
            color: #fff;
            border: 1px solid #fff;
            background-color: map-get($map: $pColores, $key: 'grey');
        }
    }
}
.modal-container::-webkit-scrollbar{
    display: none;
}
.toast{
    background-color: white;
    position: sticky;
    bottom: 20px;
}
