footer{
    @include flexChoose(space-evenly, center);
    flex-direction: row;
    h3{
        font-size: $txtMd;
        margin: 0;
        color: map-get($map: $pColores, $key: 'plata');
        @media (min-width: 768px){
            font-size: $txtXl - 0.4rem;
        }
        @media (min-width: 1200px){
            font-size: $txtXl;
        }
    }
    img{
        width: 3vw;
    }
}
