footer{
    @include d-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    h3{
        font-size: $txtMd;
        margin: 0;
        color: $secondaryColor;
        @media (min-width: 768px){
            font-size: $txtXl - 0.4rem;
        }
        @media (min-width: 1200px){
            font-size: $txtXl;
        }
    }
    img{
        width: 3vw;
    }
}
