// home nesting

.home{
    @include flexChoose(space-between, center);
    flex-direction: column;
    margin-bottom: 30px;
    @media (min-width: 1200px) {
        flex-direction: row-reverse;
        justify-content: space-around;
        border-top: none;
    }
}
.home__uno{
    $padd: 2%;
    padding: $padd;
    order: 1;
    @media (min-width: 1200px) {
        margin: 0% 5%;
        padding: 1.5% 0%;
        max-width: 50vw;
    }
    & h1{
        @include text($txtLg + 0.2rem, center);
        color: map-get($map: $pColores, $key: 'white');
        font-family: $mainFont;
        text-transform: capitalize;
        padding-bottom: $padd / 2;
        @media (min-width: 768px) {
            font-size: $txtXl;
        }
        @media (min-width: 1650px) {
            font-size: $txtXxl + 1rem;
        }
    }
}
.home__dos{
    $width: 100vw;
    @include d-flex;
    justify-content: start;
    align-items: center;
    order: 2;
    width: $width - 20vw;
    @media (min-width: 1200px) {
        flex-direction: column;
        width: fit-content;
        position: relative;
        left: 8vw; top: 18vh;
    }
    h3{
        padding: 5%;
        @include text($txtMd + 0.2rem, center);
        color: map-get($map: $pColores, $key: 'white');
        @media (min-width: 768px) {
            font-size: $txtLg;
        }
        @media (min-width: 1200px) {
            font-size: $txtLg + 0.2rem;
        }
        @media (min-width: 1600px) {
            font-size: $txtXl;
        }
    }
    img{
        width: 30vw;
    }
}
.img-m{
    width: 40vw;
    @media (min-width: 1200px) {
        width: 13vw;
    }
}

// intro + borde >>next html's
#intro {
    $padd: 2%;
    @include d-flex;
    justify-content: center;
    padding: $padd;
    h1{
        @include text($txtXxl, center);
        color: map-get($map: $pColores, $key: 'white');
        @media (min-width: 1200px) {
            font-size: $txtXxl + 1.2rem;
        }
        
        &.bordeintro {
            border-bottom: solid map-get($map: $pColores, $key: 'orng') 0.4vw;
            padding: $padd;
            width: $w-75;
            text-align: center;
        }
    }
}