@import url('https://fonts.googleapis.com/css2?family=Sarabun:ital@1&family=Source+Sans+Pro:ital,wght@0,600;1,400&display=swap');

// font vars

$mainFont: 'Source Sans Pro', sans-serif;
$secondaryFont: 'Saraburn', sans-serif;

// sizing

$txtSm: 0.8rem;
$txtMd: 1.4rem;
$txtLg: 2rem;
$txtXl: 3rem;
$txtXxl: 4rem;
$txtFin: 400;
$txtGrues: 600;
$txtHeav: 800;