// vars

$mainColor: rgb(216, 114, 19);
$secondaryColor: rgb(197, 197, 197);
$brown: rgb(134, 110, 78);
$grey: rgb(80, 80, 80); 
$white: rgb(230, 230, 230);            
$black: rgb(22, 22, 22); 
$orangeOpc: rgba(216, 114, 19, 0.8);
