// vars

$w-25: 25%;
$w-50: 50%;
$w-75: 75%;
$w-100: 100%;

//mapa de colores

$pColores:(
    'orng': #d87213,
    'plata': #c5c5c5,
    'brown': #866e4e,
    'beige': #cfb997,
    'gold': #ffd000,
    'grey':  #505050,
    'white': #e6e6e6,
    'black': #161616,
    'orngOpc': #d87213cc
);