<!DOCTYPE html>
<html lang="es">
<link>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Llevate tu disco preferido de YSY A, suma a tu compra una remera de Sponsor Dios y su comic -Genesis de Un Movimiento-">
    <meta name="author" content="Ignacio Sardella">
    <meta name="Keywords" content="YSY A, Sponsor Dios, Genesis de un movimiento, musica argentina, musica urbana, trap argentino, Antezana 247, Hecho a mano, Mordiendo el bozal, Trap de verdad">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha2 offset-lg-184-EVSTQN2 offset-lg-1/azprG1Anm2 offset-lg-1QDgpJLIm9Nao0Yz1ztcQTwFspd2 offset-lg-1yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>YSY A | Compra tu disco</title>
</head>
<body class="bg-img bodyscroll">
    <nav class="navbar navbar-expand-lg navbar-dark bg-grey sticky-top" id="botonera">
        <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"><img src="../img/Ysy logo.png" alt="logo de ysy a"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../views/conocelo.html">Conocelo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/discografia.html">Discografía</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/comprar.html">Compra tu disco</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/noticias.html">Noticias</a>
            </li>
        </div>
        </div>
    </nav>
    <div id="intro">
        <h1 class="bordeintro">Compra tu disco</h1>
    </div>
    <main>
        <header class="mainshop">
            <div>
                <h2>¡No te quedes sin tu disco favorito de YSY A!</h2>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm-5 col-lg-2">
                        <figure>
                            <img src="../img/antezana.jpg" alt="Foto del Disco Antezana 247">
                            <figcaption>Antezana 247</figcaption>
                            <p>$3.200</p>
                        </figure>
                    </div>
                    <div class="col-sm-5 offset-sm-2 col-lg-2 offset-lg-1">
                    <figure>
                        <img src="../img/hechoamano.jpg" alt="Foto del Disco Hecho a mano">
                        <figcaption>Hecho a mano</figcaption>
                        <p>$3.200</p>
                    </figure>
                    </div>
                    <div class="col-sm-5 col-lg-2 offset-lg-1">
                    <figure>
                        <img src="../img/melbozal.jpg" alt="Foto del Disco Mordiendo   el bozal">
                        <figcaption>Mordiendo el bozal</figcaption>
                        <p>$2.900</p>
                    </figure>
                    </div>
                    <div class="col-sm-5 offset-sm-2 col-lg-2 offset-lg-1">
                    <figure>
                        <img src="../img/trapdeverdad.jpg" alt="Foto del Disco Trap de verdad">
                        <figcaption>Trap de verdad</figcaption>
                        <p>$4.000</p>
                    </figure>
                    </div>
                </div>
            </div>
            <div>
                <h3>LLevate también una remera de “Sponsor Dios” o  el cómic de YSY A “Génesis de un movimiento”</h2 offset-lg-1>
            </div>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-sm-5 col-lg-2">
                        <figure>
                            <img src="../img/remeraysy.jpg" alt="remera de sponsor dios">
                            <figcaption>Remera "SponsorDios"</figcaption>
                            <p>$2.700</p>
                        </figure>
                    </div>
                    <div class="col-sm-5 col-lg-2 offset-lg-1">
                        <figure>
                            <img class="comic" src="../img/ysycomic.jpg" alt="comic de ysy a">
                            <figcaption>Comic "Genesis de un movimiento"</figcaption>
                            <p>$2.500</p>
                        </figure>
                    </div>
                </div>
            </div>
        </header>
        <!-- inicia form -->
        <div class="boxform">
            <section id="pedido" class="shop">
                <div class="box">
                    <div class="box__text">
                        <h2>Hace tu pedido</h2>
                    </div>
                    <form action="envio.php" id="comprar">
                        <fieldset>
                            <legend>Informacion Personal</legend>
                            <label for="name">Nombre</label>
                            <input type="text" id="name" placeholder="Ingresa tu nombre">
                            <br>
                            <label for="email">Email</label>
                            <input type="email" id="email" placeholder="Ingresa tu mail">
                        </fieldset>
                        <fieldset>
                            <legend>Tu pedido</legend>
                            <label for="discos">Elegi tu disco</label>
                            <select name="discos" id="discos">
                                <option value="">Selecciona una opcion</option>
                                <option value="antezana">Antezana 247</option>
                                <option value="hechoamano">Hecho a mano</option>
                                <option value="mordiendoelbozal">Mordiendo el bozal</option>
                                <option value="trapdeverdad">Trap de verdad</option>
                            </select>
                            <br>
                            <label for="remera">+ Remera Sponsor Dios</label>
                            <input type="checkbox" id="remera" value="remera">
                            <br>
                            <label for="poster">+ Poster de YSY A</label>
                            <input type="checkbox" id="poster" value="poster">
                        </fieldset>
                        <fieldset>
                            <legend>Tu envio</legend>
                            <label for="correo">Retiro en el correo</label>
                            <input type="radio" name="envio" id="correo" value="correo">
                            <br>
                            <label for="domicilio">Envio a domicilio</label>
                            <input type="radio" name="envio" id="domicilio" value="domicilio">
                            <br>
                            <label for="provincia">Provincia</label>
                            <select name="provincia" id="provincia">
                                <option value="">Selecciona una opcion</option>
                                <option value="bsas">Buenos Aires</option>
                                <option value="caba">CABA</option>
                                <option value="interior">Interior del pais</option>
                            </select>
                        </fieldset>
                        <fieldset>
                            <legend for="mensaje">Deja tu mensaje</legend>
                            <br>
                            <textarea name="mensaje" id="mensaje" placeholder="Escribe aqui" cols="30" rows="5"></textarea>
                            <br>
                            <input type="reset" value="Cancelar">
                            <input type="submit" value="Enviar">
                        </fieldset>
                    </form>
                </div>
            </section>
        </div>
        <!-- ends form -->
    </main>
    <footer class="bg-grey pie">
        <h3 class="pie__text">Redes Sociales</h3>
        <div>
        <a href="https://open.spotify.com/artist/2qWK8K2Jfh67UqtwY8tCW6" target="_blank">
            <img src="../img/spotify.png" alt="logo de spotify">
        </a>
        </div>
        <div>
        <a href="https://www.instagram.com/ysy__a/" target="_blank">
            <img src="../img/instagram.png" alt="logo de instagram">
        </a>
        </div>
        <div>
        <a href="https://twitter.com/ysy__a" target="_blank">
            <img src="../img/twitter.png" alt="logo de twitter">
        </a>
        </div>
        <div>
        <a href="https://www.youtube.com/channel/UC6ZqzTu-T77_yp1TCIIy92" target="_blank">
            <img src="../img/youtube.png" alt="logo de youtube">
        </a>
        </div>
    </footer>
    <script src="../js/shop.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha2 offset-lg-184-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>