<!DOCTYPE html>
<html lang="es">
<link>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>YSY A</title>
</head>
<body class="bg-img bodyscroll">
    <nav class="navbar navbar-expand-lg navbar-dark bg-grey sticky-top" id="botonera">
        <div class="container-fluid px-0">
        <a class="navbar-brand" href="../index.html"><img src="../img/Ysy logo.png" alt="logo de ysy a"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../views/conocelo.html">Conocelo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/discografia.html">Discografía</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/comprar.html">Compra tu disco</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/noticias.html">Noticias</a>
            </li>
        </div>
        </div>
    </nav>
    <div class="intro">
        <h1 class="bordeintro">¿ Quien es YSY A ?</h1>
    </div>
    <main>
        <header class="mainabout">
            <div class="main__historia">
                <img class="w-25" src="../img/Ysy conocelo.jpg" alt="Foto de YSY A vestido de traje">
                <div class="main__historia--textos">
                    <h2 class="main__historia--txgde txt-orng">
                        Su historia
                    </h2>
                <br>
                    <p class="main__historia--prg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis, tempora itaque neque nesciunt earum qui maxime ad aspernatur cupiditate tempore. Dolore id consequatur reiciendis vitae laborum? Itaque, nulla! Fuga, ipsam? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos repellendus perferendis possimus mollitia, suscipit, et earum sunt quo aliquam tempore eius commodi! Dignissimos cumque omnis hic, corporis reiciendis culpa distinctio?</p>
                </div>
            </div>
            <div class="main__alejo">
                <div class="main__alejo--textos">
                    <div class="main__alejo--txgde">
                        <h3 class="txt-brown">Alejo y el Quinto Escalon</h3>
                    </div>
                    <div class="main__alejo--prg">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio nisi at dicta explicabo reprehenderit necessitatibus aperiam, optio dignissimos delectus enim placeat, sint, atque porro impedit fuga id laborum. Officia, quibusdam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quasi fuga sunt velit non expedita dolor inventore sequi minima libero, ea rerum voluptates et perspiciatis amet debitis iure cupiditate delectus! Lorem ipsum dolor sit amet consectetur adipisicing elit. A aliquid recusandae mollitia tempora modi fuga ratione odio, amet quae magni nihil ducimus optio dolorem aut, iste quis illum aperiam neque. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab commodi nobis fugit dolores aliquid repellendus sunt qui dicta dolorem iure deleniti eveniet alias ea, quaerat voluptatum illum autem quam itaque.</p>
                    </div>
                </div>
                <div class="main__alejo--img">
                    <img src="../img/alejo.jpg" alt="foto de ysy a de chico">
                </div>
                <div class="main__alejo--quinto">
                <img src="../img/quinto.jpg" alt="competencia de freestyle quinto escalon">
                </div>
            </div>
            <div class="main__sdios">
                <div class="main__sdios--textos">
                    <h3 class="main__sdios--txgde">Sponsor Dios</h3>
                    <p class="main__sdios--prg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae, nisi. Minima non reiciendis, architecto quae quidem, voluptate cupiditate officia est odio nihil quaerat voluptates cumque, modi alias veniam eaque. Assumenda? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut eos consequuntur, in, natus fugiat nobis inventore fuga voluptatum temporibus repellat nam minima, sequi non ipsa necessitatibus saepe nemo numquam doloremque.</p>
                </div>
                <img width="350px" src="../img/sponsordimg.jpg" alt="logo de sponsor dios">
            </div>
        </header>
    </main>
    <footer class="bg-grey pie">
        <h3 class="pie__text">Redes Sociales</h3>
        <div>
        <a href="https://open.spotify.com/artist/2qWK8K2Jfh67UqtwY8tCW6" target="_blank">
            <img src="../img/spotify.png" alt="logo de spotify">
        </a>
        </div>
        <div>
        <a href="https://www.instagram.com/ysy__a/" target="_blank">
            <img src="../img/instagram.png" alt="logo de instagram">
        </a>
        </div>
        <div>
        <a href="https://twitter.com/ysy__a" target="_blank">
            <img src="../img/twitter.png" alt="logo de twitter">
        </a>
        </div>
        <div>
        <a href="https://www.youtube.com/channel/UC6ZqzTu-T77_yp1TCIIy93g" target="_blank">
            <img src="../img/youtube.png" alt="logo de youtube">
        </a>
        </div>
    </footer>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>