<!DOCTYPE html>
<html lang="es">
<link>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="YSY A, cuyo nombre real es Alejo Nahuel Acosta Migliarini, es un rapero y trapero argentino y uno de los mayores exponentes del panorama nacional.">
    <meta name="author" content="Ignacio Sardella">
    <meta name="Keywords" content="YSY A, Sponsor Dios, musica argentina, musica urbana, trap argentino, rap, freestyle, quinto escalon, batallas de gallos">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../img/favicon.png">
    <title>YSY A | Conocelo</title>
</head>
<body class="bg-img bodyscroll">
    <nav class="navbar navbar-expand-lg navbar-dark bg-grey sticky-top" id="botonera">
        <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">
            <img src="../img/Ysy logo.png" alt="logo de ysy a">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../views/conocelo.html">Conocelo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/discografia.html">Discografía</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/comprar.html">Compra tu disco</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/noticias.html">Noticias</a>
            </li>
        </div>
        </div>
    </nav>
    <div class="d-flex align-self-end"><button class="ver-carrito btn btn-active m-auto ml-5" id="ver-carrito">🛒</button></div>
    <div id="intro">
        <h1 class="bordeintro">¿ Quien es YSY A ?</h1>
    </div>
    <main>
        <div class="modal-container" id="modal-container"></div>
        <header class="mainabout">
            <div class="historia">
                <img src="../img/Ysy conocelo.jpg" alt="Foto de YSY A vestido de traje">
                <div class="historia__textos">
                    <h2>
                        Su historia
                    </h2>
                    <br>
                    <p>
                        YSY A, cuyo nombre real es Alejo Nahuel Acosta Migliarini, es un rapero y trapero argentino y uno de los mayores exponentes del panorama nacional. Conocido por sus canciones que poco a poco han ido cambiando de aire y evolucionando, y al mismo tiempo también conocido por ser fundador de la ex competencia de freestyle argentino «El Quinto Escalón». Alejo nació el 12 de julio del año 1998 en Buenos Aires, Argentina.
                    </p>
                </div>
            </div>
            <div class="alejo">
                <div class="alejo__textos">
                    <div>
                        <h3 class="txt-brown">Alejo y el Quinto Escalon</h3>
                    </div>
                    <div class="alejo__textos--pgf">
                        <p>
                            Alejo inició su carrera musical desde muy joven, como un rapero freestyle en las calles de la ciudad de Buenos Aires, Argentina. El freestyle básicamente consiste en la improvisación de líricas, ya sea por diversión o por competencia, entre varias personas; generalmente, estas improvisaciones tocan temas de interés social o apreciaciones de valor hacia el contrincante para demostrar la habilidad mental de crear rimas instantáneamente. 
                        </p> 
                        <p class="justIzq">
                            Sin embargo, Alejo salió al ruedo cuando fundó “El quinto escalón” en el año 2012, la cual fue una competencia que se realizó en el Parque Ridavia del Barrio de Caballito de la metrópolis de Buenos Aires. El nombre se origina a partir del lugar donde únicamente había cinco escalones en la entrada del parque; aquí Alejo y sus compañeros dejaban fluir la lírica. Posteriormente, el rapero argentino Muphasa se sumó al proyecto volviéndose socio de Alejo, siendo estos los anfitriones de la competencia, aunque en ciertas ocasiones también participaban en su propio concurso.</p>
                    </div>
                </div>
                <div class="alejo__imagenes">
                    <div class="alejo__imagenes--gde">
                        <img src="../img/alejo.jpg" alt="foto de ysy a de chico">
                    </div>
                    <div class="alejo__imagenes--quinto">
                        <img src="../img/quinto.jpg" alt="competencia de freestyle quinto escalon">
                    </div>
                </div>
            </div>
            <div class="sdios">
                <div class="sdios__textos">
                    <h3>
                        Sponsor Dios
                    </h3>
                    <p>
                        En 2020, YSY A decidió dar un salto en su carrera, dio inicio a su propio sello discográfico llamado "Sponsor Dios" que trajo consigo una faceta de Alejo mucho mas madura y profesional,  estreno además, su marca de ropa personal, cada prenda diseñada por el mismo o como el dice "Hecha a mano", y una serie de accesorios y joyas de su joyero "Don Roque" con el característico logo 
                    </p>
                </div>
                <img src="../img/sponsordimg.jpg" alt="logo de sponsor dios">
            </div>
        </header>
    </main>
    <footer class="bg-grey pie">
        <h3 class="pie__text">Redes Sociales</h3>
        <div>
        <a href="https://open.spotify.com/artist/2qWK8K2Jfh67UqtwY8tCW6" target="_blank">
            <img src="../img/spotify.png" alt="logo de spotify">
        </a>
        </div>
        <div>
        <a href="https://www.instagram.com/ysy__a/" target="_blank">
            <img src="../img/instagram.png" alt="logo de instagram">
        </a>
        </div>
        <div>
        <a href="https://twitter.com/ysy__a" target="_blank">
            <img src="../img/twitter.png" alt="logo de twitter">
        </a>
        </div>
        <div>
        <a href="https://www.youtube.com/channel/UC6ZqzTu-T77_yp1TCIIy93g" target="_blank">
            <img src="../img/youtube.png" alt="logo de youtube">
        </a>
        </div>
    </footer>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/shop.js"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>