<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
    <title>YSY A</title>
</head>
<body class="bg-img bodyscroll">
    <nav class="navbar navbar-expand-lg navbar-dark bg-grey sticky-top" id="botonera">
        <div class="container-fluid">
        <a class="navbar-brand" href="../index.html"><img src="../img/Ysy logo.png" alt="logo de ysy a"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../views/conocelo.html">Conocelo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/discografia.html">Discografía</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/comprar.html">Compra tu disco</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/noticias.html">Noticias</a>
            </li>
        </div>
        </div>
    </nav>
    <div class="intro">
        <h1 class="text-h1 bordeintro">Discografía</h1>
    </div>
    <main class="main-disc">
        <div class="mainabout">
            <div class="main__tx1">
                <h2 class="txt-gold text-l">Discos de YSY A</h2>
            </div>
            <!-- inicia form -->
            <section>
                <table border="3px" cellpadding="6px" cellspacing="6px" class="main__table">
                    <tbody class="bg-black" id="table-border">
                        <tr>
                            <th class="table-th text-s">Antezana 247</th>
                            <th class="table-th text-s">Hecho a mano</th>
                            <th class="table-th text-s">Mordiendo el Bozal</th>
                            <th class="table-th text-s">Trap de Verdad -Parte 1-</th>
                            <th class="table-th text-s">Trap de Verdad -Parte 2-</th>
                        </tr>
                        <tr>
                            <td class="table-td text-xs">1.Bienvenida</td>
                            <td class="table-td text-xs">1.Desfilar mis penas</td>
                            <td class="table-td text-xs">1.La primera vez</td>
                            <td class="table-td text-xs">1.Trap de Verdad</td>
                            <td class="table-td text-xs">1.Cuando fue?</td>
                        </tr>
                        <tr>
                            <td class="table-td text-xs">2.Hidro</td>
                            <td class="table-td text-xs">2.Bardos y Verdades</td>
                            <td class="table-td text-xs">2.Sacarte to'</td>
                            <td class="table-td text-xs">2.Oro y Platino</td>
                            <td class="table-td text-xs">2.Aca no se salva ninguno</td>
                        </tr>
                        <tr>
                            <td class="table-td text-xs">3.Vuelta a la luna</td>
                            <td class="table-td text-xs">3.Como tiene que ser</td>
                            <td class="table-td text-xs">3.Tarde</td>
                            <td class="table-td text-xs">3.Inolvidable</td>
                            <td class="table-td text-xs">3.Mi amiga la asesina</td>>
                        </tr>
                        <tr>
                            <td class="table-td text-xs">4.El amanecer</td>
                            <td class="table-td text-xs">4.Calor</td>
                            <td class="table-td text-xs">4.Sobre el agua</td>
                            <td class="table-td text-xs">4.Sea la hora que sea</td>
                            <td class="table-td text-xs">4.En la jungla</td>
                        </tr>
                        <tr>
                            <td class="table-td text-xs">5.Enamorada del diablo</td>
                            <td class="table-td text-xs">5.Full ice</td>
                            <td class="table-td text-xs">5.Perdamono</td>
                            <td class="table-td text-xs">5.De casa en casa</td>
                            <td class="table-td text-xs">5.Otra noche</td>
                        </tr>
                        <tr>
                            <td class="table-td text-xs">6.Linaje</td>
                            <td class="table-td text-xs">6.Negociando por tiempo</td>
                            <td class="table-td text-xs">6.Mordiendo el bozal</td>
                            <td class="table-td text-xs">6.Trap on the rocks</td>
                            <td class="table-td text-xs">6.Como lo come</td>
                        </tr>
                        <tr>
                            <td class="table-td text-xs">7.Tragos fuertes</td>
                            <td class="table-td text-xs">7.Buenos Aires es amor</td>
                            <td class="table-td text-xs"></td>
                            <td class="table-td text-xs">7.Todo automatico</td>
                            <td class="table-td text-xs">7.Seteado</td>
                        </tr>
                        <tr>
                            <td class="table-td text-xs">8.Muevelo</td>
                            <td class="table-td text-xs">8.Donde las luces</td>
                            <td class="table-td text-xs"></td>
                            <td class="table-td text-xs">8.Inspiracion Divina</td>
                            <td class="table-td text-xs">8.Una dosis</td>
                        </tr>
                        <tr>
                            <td class="table-td text-xs">9.No se</td>
                            <td class="table-td text-xs">9.Tantas Tentaciones</td>
                            <td class="table-td text-xs"></td>
                            <td class="table-td text-xs">9.No hook</td>
                            <td class="table-td text-xs">9.Por que?</td>
                        </tr>
                        <tr>
                            <td class="table-td text-xs">10.Tamo Loco</td>
                            <td class="table-td text-xs">10.Alma</td>
                            <td class="table-td text-xs"></td>
                            <td class="table-td text-xs">10.En el infierno no los vi</td>
                            <td class="table-td text-xs">10.Acelera2</td>
                        </tr>
                        <tr>
                            <td class="table-td text-xs"></td>
                            <td class="table-td text-xs">11.Para Sacarmelo</td>
                            <td class="table-td text-xs"></td>
                            <td class="table-td text-xs">11.Que desvelo</td>
                            <td class="table-td text-xs">11.Dormir es para giles</td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <!-- ends form -->
            <br>
            <div class="tapas">
                <div class="tapas__texto">
                    <h3 class="txt-brown text-m">Portadas de los Discos</h3>
                </div>
                <div class="tapas__img">
                    <img class="disc-w" src="../img/antezana.jpg" alt="Foto del Disco Antezana 247">
                    <img class="disc-w" src="../img/hechoamano.jpg" alt="Foto del Disco Hecho a mano">
                    <img class="disc-w" src="../img/melbozal.jpg" alt="Foto del Disco Mordiendo el bozal">
                    <img class="disc-w" src="../img/trapdeverdad.png" alt="Foto del Disco Trap de verdad">
                </div>
            </div>
        </div>
    </main>
    <footer class="bg-grey pie">
        <h3 class="pie__text">Redes Sociales</h3>
        <div>
        <a href="https://open.spotify.com/artist/2qWK8K2Jfh67UqtwY8tCW6" target="_blank">
            <img class="pie-img" src="../img/spotify.png" alt="logo de spotify">
        </a>
        </div>
        <div>
        <a href="https://www.instagram.com/ysy__a/" target="_blank">
            <img class="pie-img" src="../img/instagram.png" alt="logo de instagram">
        </a>
        </div>
        <div>
        <a href="https://twitter.com/ysy__a" target="_blank">
            <img class="pie-img" src="../img/twitter.png" alt="logo de twitter">
        </a>
        </div>
        <div>
        <a href="https://www.youtube.com/channel/UC6ZqzTu-T77_yp1TCIIy93g" target="_blank">
            <img class="pie-img" src="../img/youtube.png" alt="logo de youtube">
        </a>
        </div>
    </footer>
        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>